@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-to-t {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      /* rgba(0, 0, 0, 0.8) 40%, */ rgba(0, 0, 0, 1) 100%
    );
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      /* rgba(0, 0, 0, 0.8) 40%, */ rgba(0, 0, 0, 1) 100%
    );
  }
  .mask-radial {
    -webkit-mask-image: radial-gradient(
      circle,
      rgba(255, 136, 17, 0.7) 0%,
      rgba(255, 136, 17, 0.3) 40%,
      rgba(255, 136, 17, 0) 100%
    );
    mask-image: radial-gradient(
      circle,
      rgba(255, 136, 17, 0.7) 0%,
      rgba(255, 136, 17, 0.3) 40%,
      rgba(255, 136, 17, 0) 100%
    );
  }
}

@layer components {
  .text-h1 {
    @apply font-black text-[9rem] z-10;
  }
  .text-h2 {
    @apply font-black text-6xl z-10;
  }
  .text-h3 {
    @apply font-bold text-4xl text-left z-10;
  }
  .text-h4 {
    @apply font-semibold text-xl z-10;
  }
  .body-div {
    @apply flex flex-col gap-28;
  }
  .item-div {
    @apply flex flex-col gap-14;
  }
  .text-div {
    @apply flex flex-col gap-8;
  }
  .text-body {
    @apply font-normal text-lg text-left z-10;
  }
  .text-small {
    @apply font-bold text-sm text-left z-10;
  }
  .shadow-sm-div {
    @apply hover:shadow-focusorange/20 hover:shadow-lg shadow-md transition-all duration-500 ease-in-out;
  }
  .input-div {
    @apply mb-2 p-2 bg-lightblack border-2 border-darkgrey rounded-lg w-full focus:outline-none focus:ring focus:ring-focusorange/50;
  }

  .icon-div {
    @apply object-contain h-10 w-10;
  }
}
